#
# xenstore.te --- Standalone Xenstore policy.
#
# Copyright (C) 2013, Galois, Inc.
# All Rights Reserved.
#

######################################################################
## Attributes

attribute xs_node;
attribute xs_path;

attribute domain_type;

######################################################################
## Initial SID Types

# The root node in the Xenstore tree.
type xs_root_t, xs_node;

# The unlabeled Xenstore node.  This type is used when there is
# an error looking up a security context within Xenstore.  It
# should never be allowed access to anything (and we should
# enforce that with neverallow rules).
type unlabeled_t;

######################################################################
## Constraints

# Never allow any permissions on "xs_path".
neverallow xs_path xs_node : xenstore *;

# Don't audit failures on these access vectors.
dontaudit domain_type domain_type : xenstore { retain_owner };
dontaudit domain_type xs_node     : xenstore { override };

######################################################################
## Path Types

define_xs_path(xs_local_domain_path_t)
define_xs_path(xs_vbd_backend_path_t)
define_xs_path(xs_vif_backend_path_t)
define_xs_path(xs_generic_backend_path_t)
define_xs_path(xs_vbd_frontend_path_t)
define_xs_path(xs_vif_frontend_path_t)
define_xs_path(xs_tool_xenstore_path_t)
define_xs_path(xs_console_path_t)

######################################################################
## Xenstore Policy

# Domain types that have full Xenstore privileges.
attribute xs_priv_domain_type;

# Allow privileged domains complete access to the store.
allow xs_priv_domain_type xs_node : xenstore
  { read write create delete chmod relabelfrom relabelto override };

# Allow creating children in the root node.
allow xs_root_t xs_root_t : xenstore bind;

# Label for the "local" tree.
define_xs_node(xs_local_domain_t)
xs_path_label(xs_root_t, xs_local_domain_path_t, xs_local_domain_t)

# Label for the "/tool/xenstore" tree.
define_xs_node(xs_tool_xenstore_t)
xs_path_label(xs_root_t, xs_tool_xenstore_path_t, xs_tool_xenstore_t)

######################################################################
## System Policy

# Privileged dom0 domain, supplying device backends.
xs_domain(dom0)
xs_priv_domain(dom0)
xs_device_backend(dom0, vbd)
xs_device_backend(dom0, vif)

# Xenstore domain.
xs_domain(xenstore)
xs_control_domain(xenstore, dom0)
xs_console_domain(xenstore, dom0)

# Unprivileged "domU" domains.
xs_domain(domU)
xs_control_domain(domU, dom0)
xs_console_domain(domU, dom0)
xs_device(domU, dom0, vbd)
xs_device(domU, dom0, vif)

# vim: set ft=te ts=2 et:
